<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <title>User</title>
    </head>
    <body>
        <p>Succesfully logged in</p>
        <a href="/profile_settings">Profile settings</a>
        <a href="/create_idea">Create a new idea</a>
        <a href="/">Main page</a>
    </body>
</html>