<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Register</title>
    </head>
    <body>
        <p>{{ error }}</p>
        <div class ="register-part">
            <form action="{{ url_for('register') }}" method="POST" class="register">
                <label for="email">
                    <input class="form__input" type="email" name="email" id="email" placeholder="Enter your e-mail" required>
                </label>
                <label for="password">
                    <input class="form__input" type="password" name="password" id="password" placeholder="Enter your password" required>
                </label>
                    <button class="form__button">Create account</button>
            </form>
        </div>
    </body>
</html>